/**index.wxss**/

view.container {
  searchBox {
    width: 100%;
  }

  view.taste_wrap {
    margin-top: 60rpx;
    width: 100%;

    view.taste_buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      // align-items: center;

      button.taste {
        margin: 20rpx 40rpx;
        padding: 0;
        width: 100rpx;
        height: 100rpx;
        line-height: 100rpx;
        font-size: 30rpx;
        border-color: #fff;
        border-radius: 50rpx;
        color: #ffeeee;
        // background-color: var(--themeColor);
        background-color: orange;
      }
    }
  }
}
