/* pages/dish_detail/index.wxss */

.dish_wrap {
  display: flex;
  justify-content: space-around;
  margin: 30rpx 40rpx;

  .dish_img_wrap {
    flex: 3;
    overflow: hidden;

    .dish_img {
      background-color: #55897e;
      height: 240rpx;
      width: 240rpx;
      border-radius: 6%;
    }
  }

  view.dish_info {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .dish_name {
      font-size: 32rpx;
      font-weight: 700;
    }

    view.dish_price_row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      font-size: 30rpx;

      .dish_score {
        display: flex;
        justify-content: space-between;

        .dish_stars {
          color: #eef90e;
          margin-right: 10rpx;
        }
      }
    }

    view.dish_loc {
      font-size: 26rpx;
      color: #555555;
      
      text:first-child {
        margin-right: 30rpx;
      }
    }

    view.dish_taste_wrap {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: start;

      view.dish_taste {
        font-size: 26rpx;
        padding: 6rpx 14rpx;
        margin-right: 8rpx;
        background-color: #a7f08a;
        border-radius: 30%;
      }
    }
  }
}

view.comment_wrap {
  display: flex;
  justify-content: space-around;
  margin: 30rpx 40rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text.comment_header {
    font-size: 34rpx;
    font-weight: 700;
  }

  view.comment_editor {
    margin-bottom: 60rpx;

    view.text_input {
      @comment_input_fs: 28rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: @comment_input_fs;
      margin: 20rpx 0 40rpx;

      .comment_input {
        width: 500rpx;
        height: 1em;
        padding: 14rpx 8rpx;
        border: 1px solid #cccccc;
      }
      .comment_input.active {
        height:  @comment_input_fs*4;
      }
      
      .comment_submit_btn {
        width:  @comment_input_fs*4;
        height:  @comment_input_fs*4;
        line-height:  @comment_input_fs*4;
        text-align: center;
        color: #ffffff;
        background-color: #f19d63;
        border-radius: 10%;
      }
      .comment_submit_btn.hidden {
        display: none;
      }
    }
  
    .img_uploader.hidden {
      display: none;
    }
  }

  view.comment_box {
    margin: 10rpx 30rpx 30rpx;
    
    view.comment_info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      view.comment_user_info {

        .user_avatar {
          width: 60rpx;
          height: 60rpx;
          border-radius: 50%;
        }

        text {
          // color: var(--themeColor);
          color: #ee6d18;
        }
      }

      view.comment_score {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 26rpx;

        view.dish_stars {
            margin-left: 15rpx;

            text.iconfont.icon-xingxing {
            color: #eef90e;
            margin-right: 5rpx;
          }
        }
      }
    }

    view.comment_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @comment_content_gap: 20rpx;

      view.comment_text {
        margin-top: @comment_content_gap;
        font-size: 30rpx;
      }

      view.comment_info2 {
        display: flex;
        justify-content: space-between;
        font-size: 26rpx;
        color: #555555;
        font-weight: 500;
        margin-top: @comment_content_gap;
      }

      .comment_pic_wrap {
        overflow: hidden;

        .comment_pic {
        margin-top: @comment_content_gap;
        max-height: 300rpx;
        }
      }
    }
  }
}
